[rewrite_local]
^https://m-api.nexon.com/sdk/enterToy.nx url script-response-body https://raw.githubusercontent.com/TomlinfreeGit/MapleStoryM/main/Global/QuantumultX/body.js
^https://m-api.nexon.com/sdk/enterToy.nx url script-response-header https://raw.githubusercontent.com/TomlinfreeGit/MapleStoryM/main/Global/QuantumultX/header.js
[mitm]
hostname = m-api.nexon.com